{{#each this}}
  <li class='films__item'>
    <div class='films__img'>
      <img
        src='https://upload.wikimedia.org/wikipedia/uk/c/cd/Постер_до_фільму_«Іо»%2C_2019.jpg'
        alt='Film {{title}} poster'
        loading='lazy'
      />
    </div>
    <div class='films__description'>
      <p class='films__title'>{{title}}</p>
      <p class='films__meta'>{{genre_ids}}<span class='films__meta-separator'>
          |
        </span>{{release_date}}
        <span class='films__rating'>{{vote_average}}</span>
      </p>
    </div>
  </li>
{{/each}}