{{#each this}}
  <div class='modal' data-id='{{id}}'>
    <button class='modal-close-btn'>&#10005;</button>
    <div class='modal__wrapper-img'>
      <img
        class='modal__img'
        src='https://image.tmdb.org/t/p/w342{{poster_path}}'
        alt='Film {{title}} poster'
        loading='lazy'
      />
    </div>
    <div class='modal__info'>
      <h3 class='modal__title' style='text-transform: uppercase'>{{title}}</h3>
      <div class='modal__attributes'>
        <p class='modal__attributes-name'>
          <span class='modal__attributes-title'>Vote / Votes</span>
          <span class='modal__attributes-vote'>{{vote_average}}</span>
          /
          <span class='modal__attributes-vote votes'>{{vote_count}}</span>
        </p>
        <p class='modal__attributes-name'>
          <span class='modal__attributes-title'>Popularity</span>
          <span class=' modal__attributes-text modal__attributes-text--popular'>{{popularity}}</span>
        </p>
        <p class='modal__attributes-name'>
          <span class='modal__attributes-title'>Original Title</span>
          <span
            class='modal__attributes-text'
            style='text-transform: uppercase'
          >{{original_title}}</span>
        </p>
        <p class='modal__attributes-name'>
          <span class='modal__attributes-title'>Genre</span>
          <span class='modal__attributes-text'>{{#if genres}}
            {{#each genres}}{{name}} {{/each}}{{else}}No genre{{/if}}</span>
        </p>
      </div>
      <article class='modal__article'>
        <h4 class='modal__about'>ABOUT</h4>
        <p class='modal__about-text'>{{overview}}
        </p>
      </article>
      <ul class='modal__list-btn'>
        <li class='modal__item-btn'>
          <button type='submit' class='modal__btn modal__btn--watched btn'>Add to watched</button>
        </li>
        <li class='modal__item-btn'>
          <button type='submit' class='modal__btn modal__btn--queue btn'>Add to queue</button>
        </li>
        <li class='modal__item-btn'>
          <button type='submit' class='modal__btn modal__btn--queue-remove btn' data-id='{{id}}'>Remove from queue</button>
        </li>
      </ul>
    </div>
  </div>
{{/each}}